.xaxis {
   font-family: var(--axis-font-family, var(--font-serif, serif));
    font-size: 16px;
}

.yaxis {
    font-family: var(--axis-font-family, var(--font-serif, serif));
    font-size: 16px;
}

.axis_label {
   font-size: 20px;
   font-style: italic;
}

.agent {
    fill: black;
}

.agent.infected {
    fill:red
} 

.agent.susceptible {
    fill:grey;
}

.plotline{
    fill:none;
    stroke:darkred;
    stroke-width:5px;
    stroke-linecap: round;
}


@media (prefers-color-scheme: dark) {
    .agent {
        fill: white;
    }
    .plotline {
        stroke: red
    }

.axis_label {
   fill:white
}
}