.link {
    stroke: black;
    stroke-opacity: 0.1;
    stroke-width: 0.5px;
}
.node {
    
}
.man {
    stroke:black
}
.label {
    pointer-events:none;
    fill:black
}

.nodecircle {
    stroke: black;
    stroke-width: .5px;
}
@media (prefers-color-scheme: dark) {
    
}

