---
// filepath: /Users/zwerg/Coding/astro/dante/src/components/Quote.astro
export type Props = {
    author: string;
    cite: string;
    quote: string;
};
const { author, cite, quote } = Astro.props;
---

<blockquote>
    <p>{quote}</p>
    <footer class="text-right not-italic text-base mt-2">— {author}, <span>{cite}</span></footer>
</blockquote>
